@font-face {
    font-family: 'Harabara';
    src: url('Harabara.ttf') format('truetype');
}
body {
	background-image : url("images/texture.png");
	background-repeat : repeat;
	}
h1 {
	font-size : 30px;
	}
#logo {
	width : 400px;
	height : 150px;
	background-image:url("images/logo.png");
	margin-top : 20px;
	}

#menuDeroulant{
	background: none repeat scroll 0 0 #b5e54f;
	position: absolute;
	min-width : 650px;
	height : 21px;
	margin : -80px auto auto 410px;
	border-radius : 10px;
	list-style-type: none;
	padding: 5px;
	border: 0 none;
	}
#menuDeroulant li {
    border: 0 none;
    float: left;
    margin: 0;
    padding: 0px 5px;
    min-width: 150px;
	max-width:250px;
	font-weight : bold;
	text-align : center;
}

#menuDeroulant li a:link, #menuDeroulant li a:visited {
    background: none repeat scroll 0 0 #b5e54f;
    border-right: 2px solid #74c624;
	border-left: 2px solid #74c624;
    color: black;
    display: block;
    margin: 0;
    padding: 0px 10px;
	padding-bottom : 5px;
    text-decoration: none;
}

#menuDeroulant li a:hover {
    background-color: #74c624;
}
#menuDeroulant li a:active {
    background-color: #5F879D;
}
#menuDeroulant .sousMenu {
    border: 0 none;
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menuDeroulant .sousMenu li {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent -moz-use-text-color -moz-use-text-color;
    border-style: solid solid none none;
    border-width: 1px 1px 0 0;
    float: none;
    margin: 0;
    padding: 0;
    min-width: 150px;
	max-width:250px;
	font-size:80%;
	text-align: left;
}
#menuDeroulant .sousMenu li a:link, #menuDeroulant .sousMenu li a:visited {
    background:repeat scroll 0 0 #b5e54f;
    border: 0 none;
    color: black;
    display: block;
    margin: 0;
    text-decoration: none;
}
#menuDeroulant .sousMenu li a:hover {
    background-color: #74c624;
    background-image: none;
}
#menuDeroulant li:hover > .sousMenu {
    display: block;
}
.contenu {
	background-color : #FFFFFF;
	margin : 0px 160px auto 160px;
	border : 3px solid #b5e54f;
	border-radius : 10px;
	padding : 5px;
	width : 1010px;
}
#interface {
	width : 600px;
	border-right: 2px solid #74c624;
	}
.icone_gestion{
	width : 100px;
	height : 100px;
	background-color : #EDEDED;
	border : 2px solid #b5e54f;
	border-radius : 10px;
	font-size :80%;
	vertical-align : middle;
	text-align : center;
	margin-left:40px;
	margin-bottom : 20px;
}
.img_icone {
	margin-top: 10px;
	color : black;
	}
.img_icone:visited {
	color : black;
}
#statInfo {
	padding : 0px 50px;
	width : 350px;
	margin-top : -100px;
	}